In [1]:
import hana_ml
from hana_ml import dataframe
from data_load_utils import DataSets, Settings

url, port, user, pwd = Settings.load_config("../../config/e2edata.ini")
connection_context = dataframe.ConnectionContext(url, port, user, pwd)
full_tbl, train_tbl, test_tbl, _ = DataSets.load_diabetes_data(connection_context)

Table PIMA_INDIANS_DIABETES_TBL exists and data exists

In [2]:
data = connection_context.table(full_tbl)
data.head(3).collect()

,ID,PREGNANCIES,GLUCOSE,BLOODPRESSURE,SKINTHICKNESS,INSULIN,BMI,PEDIGREE,AGE,CLASS
0,1,6,102,90,39,0,35.7,0.674,28,0
1,2,11,127,106,0,0,39.0,0.190,51,0
2,3,13,145,82,19,110,22.2,0.245,57,0

In [3]:
from hana_ml.algorithms.pal.auto_ml import Preprocessing

In [4]:
result = Preprocessing(name="FeatureNormalizer").fit_transform(data=data, key="ID", features=["BMI"])

In [5]:
result.collect()

      ID       BMI
0      1  0.532042
1      2  0.581222
2      3  0.330849
3      4  0.476900
4      5  0.447094
..   ...       ...
763  764  0.627422
764  765  0.545455
765  766  0.427720
766  767  0.390462
767  768  0.493294

[768 rows x 2 columns]

In [6]:
result = Preprocessing(name="KBinsDiscretizer").fit_transform(data=data, key="ID", features=["BMI"])

In [7]:
result.collect()

      ID        BMI
0      1  38.730660
1      2  38.730660
2      3  22.598113
3      4  30.286849
4      5  30.286849
..   ...        ...
763  764  38.730660
764  765  38.730660
765  766  30.286849
766  767  30.286849
767  768  30.286849

[768 rows x 2 columns]

In [8]:
result = Preprocessing(name="Imputer").fit_transform(data=data, key="ID", features=["BMI"])

In [9]:
result.collect()

      ID   BMI
0      1  35.7
1      2  39.0
2      3  22.2
3      4  32.0
4      5  30.0
..   ...   ...
763  764  42.1
764  765  36.6
765  766  28.7
766  767  26.2
767  768  33.1

[768 rows x 2 columns]

In [10]:
result = Preprocessing(name="Discretize").fit_transform(data=data, key="ID", features=["BMI"])

In [11]:
result.collect()

      ID        BMI
0      1  38.730660
1      2  38.730660
2      3  22.598113
3      4  30.286849
4      5  30.286849
..   ...        ...
763  764  38.730660
764  765  38.730660
765  766  30.286849
766  767  30.286849
767  768  30.286849

[768 rows x 2 columns]

In [12]:
result = Preprocessing(name="MDS").fit_transform(data=data, key="ID", features=["PEDIGREE", "BMI", "PREGNANCIES"])

In [13]:
result.collect()

      ID        X_1       X_2
0      1   3.728307  2.119930
1      2   7.071447  7.091019
2      3  -9.708736  9.245600
3      4   0.007399  0.155765
4      5  -1.963234  3.173119
..   ...        ...       ...
763  764  10.090049 -1.938316
764  765   4.589984 -1.887369
765  766  -3.316723 -2.815753
766  767  -5.773257  2.208821
767  768   1.108634  0.144825

[768 rows x 3 columns]

In [14]:
result = Preprocessing(name="PCA").fit_transform(data=data, key="ID", features=["PEDIGREE", "BMI", "PREGNANCIES"])

In [15]:
result.collect()

      ID  COMPONENT_1  COMPONENT_2  COMPONENT_3
0      1     3.728307     2.119930     0.187774
1      2     7.071447     7.091019    -0.297961
2      3    -9.708736     9.245600    -0.135887
3      4     0.007399     0.155765    -0.245360
4      5    -1.963234     3.173119     0.035257
..   ...          ...          ...          ...
763  764    10.090049    -1.938316    -0.018592
764  765     4.589984    -1.887369    -0.052878
765  766    -3.316723    -2.815753     0.338525
766  767    -5.773257     2.208821    -0.116713
767  768     1.108634     0.144825    -0.031908

[768 rows x 4 columns]