# AMDP Generator based on HANA PAL via Python

In the following notebook we will demonstrate how to work with the predictive analytics library (PAL) via the Python API and a development build of the [**hana_ml**](https://pypi.org/project/hana-ml/) package.

## Demo

### 1. Install requirements

Like any other machine learning library in the python ecosystem, we need to install the **hana_ml** package (a development build) in order to be able to import the necessary requirements.

### 2. Importing Requirements

Let's import the necessary libraries for our use case. In here there is yaml for configuration management, a machine learning algorithm, a dataframe for data manipulation as well as the artifact generator and deployer.

In [1]:
from hana_ml.algorithms.pal.unified_classification import UnifiedClassification
import hana_ml.dataframe as dataframe

from hana_ml.artifacts.generators import AMDPGenerator
from hana_ml.artifacts.deployers import AMDPDeployer

### 3. Create connection context

In the following code block we just load our credentials from disk in order to not leak them into this notebook or the underlying git repository:

In [2]:
from .. import DataSets, Settings

In [3]:
try:
    import configparser
except ImportError:
    import ConfigParser as configparser
Settings.settings = configparser.ConfigParser()
Settings.settings.read("../../config/e2edata.ini")
url = Settings.settings.get("hana", "url")
port = Settings.settings.get("hana", "port")
user = Settings.settings.get("hana", "user")
passwd = Settings.settings.get("hana", "passwd")

Now its time to create a connection context for our HANA system. This allows us to access the required data, as well as the PAL procedures we need to call in order to train our model.

In [23]:
connection_context = dataframe.ConnectionContext(
    url, int(port), user, passwd)

In [24]:
connection_context.hana_version()

'4.50.000.00.1645273862 (master)'

In [25]:
connection_context.get_current_schema()

'PAL_TEST'

We also enable SQL tracing for later reuse of the model in the deployment.

### 4. Prepare the data

This block is part of the utils for this demo - it makes sure the dataset is in the system and creates it if necessary. In a real production use case this would obviously be unnecessary since the data is already in the system.

In [26]:
diabetes_full, diabetes_train_valid, diabetes_test, _ = DataSets.load_diabetes_data(connection_context)

Table PIMA_INDIANS_DIABETES_TBL exists.

INFO:hana_ml.ml_base:Executing SQL: DROP TABLE "#PAL_PARTITION_DATA_TBL_D227A17F_B5AB_11EC_9E0F_F47B099F40D8"
INFO:hana_ml.ml_base:Executing SQL: CREATE LOCAL TEMPORARY COLUMN TABLE "#PAL_PARTITION_DATA_TBL_D227A17F_B5AB_11EC_9E0F_F47B099F40D8" AS (SELECT "ID", "PREGNANCIES", "GLUCOSE", "SKINTHICKNESS", "INSULIN", "BMI", "AGE", "CLASS" FROM (SELECT "ID", "PREGNANCIES", "GLUCOSE", "SKINTHICKNESS", "INSULIN", "BMI", "AGE", "CLASS" FROM (SELECT * FROM "PAL_TEST"."PIMA_INDIANS_DIABETES_TBL") AS "DT_152") AS "DT_153")
INFO:hana_ml.ml_base:Executing SQL: DO
BEGIN
DECLARE param_name VARCHAR(5000) ARRAY;
DECLARE int_value INTEGER ARRAY;
DECLARE double_value DOUBLE ARRAY;
DECLARE string_value VARCHAR(5000) ARRAY;
param_name[1] := N'RANDOM_SEED';
int_value[1] := 1234;
double_value[1] := NULL;
string_value[1] := NULL;
param_name[2] := N'PARTITION_METHOD';
int_value[2] := 0;
double_value[2] := NULL;
string_value[2] := NULL;
param_name[3] := N'TRAINING_PERCENT';
int_value[3] := NULL;
double_value[3] := 0.5;
string_value[3] := NULL;
param_name[4] := N'TESTING_PERCENT';
int_value[4] := NULL;
double_value[4] := 0.1;
string_value[4] := NULL;
param_name[5] := N'VALIDATION_PERCENT';
int_value[5] := NULL;
double_value[5] := 0.4;
string_value[5] := NULL;
params = UNNEST(:param_name, :int_value, :double_value, :string_value);
in_0 = SELECT "ID", "PREGNANCIES", "GLUCOSE", "SKINTHICKNESS", "INSULIN", "BMI", "AGE", "CLASS" FROM (SELECT "ID", "PREGNANCIES", "GLUCOSE", "SKINTHICKNESS", "INSULIN", "BMI", "AGE", "CLASS" FROM (SELECT * FROM "PAL_TEST"."PIMA_INDIANS_DIABETES_TBL") AS "DT_152") AS "DT_153";
CALL _SYS_AFL.PAL_PARTITION(:in_0, :params, out_0);
CREATE LOCAL TEMPORARY COLUMN TABLE "#PAL_PARTITION_RESULT_TBL_D227A17F_B5AB_11EC_9E0F_F47B099F40D8" AS (SELECT * FROM :out_0);
END

In [27]:
diabetes_train_valid = diabetes_train_valid.save("DIABETES_TRAIN", force=True)
diabetes_test = diabetes_test.save("DIABETES_TEST", force=True)

INFO:hana_ml.ml_base:Executing SQL: DROP TABLE "DIABETES_TRAIN";
INFO:hana_ml.ml_base:Executing SQL: CREATE COLUMN TABLE "DIABETES_TRAIN" AS (SELECT a.* FROM #PAL_PARTITION_DATA_TBL_D227A17F_B5AB_11EC_9E0F_F47B099F40D8 a inner join #PAL_PARTITION_RESULT_TBL_D227A17F_B5AB_11EC_9E0F_F47B099F40D8 b        on a."ID" = b."ID" where b."PARTITION_TYPE" = 1)
INFO:hana_ml.ml_base:Executing SQL: DROP TABLE "DIABETES_TEST";
INFO:hana_ml.ml_base:Executing SQL: CREATE COLUMN TABLE "DIABETES_TEST" AS (SELECT a.* FROM #PAL_PARTITION_DATA_TBL_D227A17F_B5AB_11EC_9E0F_F47B099F40D8 a inner join #PAL_PARTITION_RESULT_TBL_D227A17F_B5AB_11EC_9E0F_F47B099F40D8 b        on a."ID" = b."ID" where b."PARTITION_TYPE" = 3)

### 5. Data Science Loop

In this section the real work of a data scientist happens. They manipulate the data, preprocess columns, choose a model and try different combinations of hyper parameters.

Since we just want to demonstrate the deployment, lets keep this short and just use a basic Random Decision Tree Classifier.

In [28]:
connection_context.sql_tracer.enable_sql_trace(True)
connection_context.sql_tracer.enable_trace_history(True)
rfc_params = dict(n_estimators=5, split_threshold=0, max_depth=10)
rfc = UnifiedClassification(func="RandomDecisionTree", **rfc_params)
rfc.fit(diabetes_train_valid, 
        key='ID', 
        label='CLASS', 
        categorical_variable=['CLASS'],
        partition_method='stratified',
        stratified_column='CLASS',)
cm = rfc.confusion_matrix_.collect()
rfc.predict(diabetes_test.deselect("CLASS"), key="ID")

INFO:hana_ml.ml_base:Executing SQL: DO
BEGIN
DECLARE param_name VARCHAR(5000) ARRAY;
DECLARE int_value INTEGER ARRAY;
DECLARE double_value DOUBLE ARRAY;
DECLARE string_value VARCHAR(5000) ARRAY;
param_name[1] := N'FUNCTION';
int_value[1] := NULL;
double_value[1] := NULL;
string_value[1] := N'RDT';
param_name[2] := N'KEY';
int_value[2] := 1;
double_value[2] := NULL;
string_value[2] := NULL;
param_name[3] := N'PARTITION_METHOD';
int_value[3] := 2;
double_value[3] := NULL;
string_value[3] := NULL;
param_name[4] := N'PARTITION_STRATIFIED_VARIABLE';
int_value[4] := NULL;
double_value[4] := NULL;
string_value[4] := N'CLASS';
param_name[5] := N'N_ESTIMATORS';
int_value[5] := 5;
double_value[5] := NULL;
string_value[5] := NULL;
param_name[6] := N'SPLIT_THRESHOLD';
int_value[6] := NULL;
double_value[6] := 0;
string_value[6] := NULL;
param_name[7] := N'MAX_DEPTH';
int_value[7] := 10;
double_value[7] := NULL;
string_value[7] := NULL;
param_name[8] := N'CATEGORICAL_VARIABLE';
int_value[8] := NULL;
double_value[8] := NULL;
string_value[8] := N'CLASS';
params = UNNEST(:param_name, :int_value, :double_value, :string_value);
in_0 = SELECT "ID", "PREGNANCIES", "GLUCOSE", "SKINTHICKNESS", "INSULIN", "BMI", "AGE", "CLASS" FROM (SELECT * FROM "DIABETES_TRAIN") AS "DT_160";
CALL _SYS_AFL.PAL_UNIFIED_CLASSIFICATION(:in_0, :params, out_0, out_1, out_2, out_3, out_4, out_5, out_6, out_7);
CREATE LOCAL TEMPORARY COLUMN TABLE "#PAL_UNIFIED_CLASSIFICATION_MODEL_5_DBD67AA8_B5AB_11EC_B2B7_F47B099F40D8" AS (SELECT * FROM :out_0);
CREATE LOCAL TEMPORARY COLUMN TABLE "#PAL_UNIFIED_CLASSIFICATION_IMPORTANCE_5_DBD67AA8_B5AB_11EC_B2B7_F47B099F40D8" AS (SELECT * FROM :out_1);
CREATE LOCAL TEMPORARY COLUMN TABLE "#PAL_UNIFIED_CLASSIFICATION_STATS_5_DBD67AA8_B5AB_11EC_B2B7_F47B099F40D8" AS (SELECT * FROM :out_2);
CREATE LOCAL TEMPORARY COLUMN TABLE "#PAL_UNIFIED_CLASSIFICATION_OPT_PARAM_5_DBD67AA8_B5AB_11EC_B2B7_F47B099F40D8" AS (SELECT * FROM :out_3);
CREATE LOCAL TEMPORARY COLUMN TABLE "#PAL_UNIFIED_CLASSIFICATION_CONFUSION_MATRIX_5_DBD67AA8_B5AB_11EC_B2B7_F47B099F40D8" AS (SELECT * FROM :out_4);
CREATE LOCAL TEMPORARY COLUMN TABLE "#PAL_UNIFIED_CLASSIFICATION_METRICS_5_DBD67AA8_B5AB_11EC_B2B7_F47B099F40D8" AS (SELECT * FROM :out_5);
CREATE LOCAL TEMPORARY COLUMN TABLE "#PAL_UNIFIED_CLASSIFICATION_PARTITION_TYPE_5_DBD67AA8_B5AB_11EC_B2B7_F47B099F40D8" AS (SELECT * FROM :out_6);
CREATE LOCAL TEMPORARY COLUMN TABLE "#PAL_UNIFIED_CLASSIFICATION_PLACE_HOLDER2_5_DBD67AA8_B5AB_11EC_B2B7_F47B099F40D8" AS (SELECT * FROM :out_7);
END

INFO:hana_ml.ml_base:Executing SQL: DO (IN in_1 TABLE ("ROW_INDEX" INT, "PART_INDEX" INT, "MODEL_CONTENT" NCLOB) => "#PAL_UNIFIED_CLASSIFICATION_MODEL_5_DBD67AA8_B5AB_11EC_B2B7_F47B099F40D8")
BEGIN
DECLARE param_name VARCHAR(5000) ARRAY;
DECLARE int_value INTEGER ARRAY;
DECLARE double_value DOUBLE ARRAY;
DECLARE string_value VARCHAR(5000) ARRAY;
param_name[1] := N'FUNCTION';
int_value[1] := NULL;
double_value[1] := NULL;
string_value[1] := N'RDT';
params = UNNEST(:param_name, :int_value, :double_value, :string_value);
in_0 = SELECT "ID", "PREGNANCIES", "GLUCOSE", "SKINTHICKNESS", "INSULIN", "BMI", "AGE" FROM (SELECT "ID", "PREGNANCIES", "GLUCOSE", "SKINTHICKNESS", "INSULIN", "BMI", "AGE" FROM (SELECT * FROM "DIABETES_TEST") AS "DT_164") AS "DT_181";
CALL _SYS_AFL.PAL_UNIFIED_CLASSIFICATION_PREDICT(:in_0, :in_1, :params, out_0, out_1);
CREATE LOCAL TEMPORARY COLUMN TABLE "#PAL_UNIFIED_CLASSIF_PREDICT_RESULT_TBL_5_E06757A3_B5AB_11EC_B34B_F47B099F40D8" AS (SELECT * FROM :out_0);
CREATE LOCAL TEMPORARY COLUMN TABLE "#PAL_UNIFIED_CLASSIF_PREDICT_PH_TBL_5_E06757A3_B5AB_11EC_B34B_F47B099F40D8" AS (SELECT * FROM :out_1);
END

We can also view the confusion matrix and accuracy:

In [29]:
print(cm)
print(float(cm['COUNT'][cm['ACTUAL_CLASS'] == cm['PREDICTED_CLASS']].sum()) / cm['COUNT'].sum())

  ACTUAL_CLASS PREDICTED_CLASS  COUNT
0            0               0     39
1            0               1     10
2            1               0     17
3            1               1     11
0.6493506493506493

### 5. Generate abap managed database procedures (AMDP) artifact

At this point in the workflow, our data scientist has iterated on the model many times and found a satisfactory solution. He/she now decides that its time to deploy this to an ABAP system such that an application developer can easily work with it.

We start the process by creating some `.abap` files on our local machine based on the work that was done previously. This contains the SQL logic wrapped in AMDPs the data scientist created by interacting with the **hana_ml** package. You can also manually inspect the code at this point and make adaptions where you see fit.

In [38]:
generator = AMDPGenerator(project_name="AMDP_DEMO", version="1", connection_context=connection_context, outputdir="out")
generator.generate(training_dataset="DIABETES_TRAIN", apply_dataset="DIABETES_TEST")

WARNING:hana_ml.artifacts.utils.fs_handler:[WinError 183] 当文件已存在时，无法创建该文件。: 'out\\AMDPDEMO\\abap'

- Is based on a classification scenario template
- Training and prediction datasets
- Configurable PAL parameters
- Training method includes
   - data preprocessing
   - partitioning
   - model training
   - scoring
   - quality metrics and performance chart calculations
- Predict method
   - data preprocessing
   - prediction call 
   - combining result set with reason codes

### 6. Generate AMDP artifact directly from unified classification object

In [40]:
rfc.create_amdp_class(amdp_name="DIABETES_AMDP", training_dataset="DIABETES_TRAIN", apply_dataset="DIABETES_TEST").build_amdp_class()

In [42]:
print(rfc.amdp_template)

CLASS DIABETES_AMDP DEFINITION
  PUBLIC
  FINAL
  CREATE PUBLIC.

  PUBLIC SECTION.
    INTERFACES if_hemi_model_management.
    INTERFACES if_hemi_procedure.
    INTERFACES if_amdp_marker_hdb.

    TYPES:
      BEGIN OF ty_train_input,
        id TYPE int4,
        pregnancies TYPE int4,
        glucose TYPE int4,
        skinthickness TYPE int4,
        insulin TYPE F,
        bmi TYPE F,
        age TYPE int4,
        class TYPE int4,
      END OF ty_train_input,
      tt_training_data TYPE STANDARD TABLE OF ty_train_input WITH DEFAULT KEY,
      tt_predict_data  TYPE STANDARD TABLE OF ty_train_input WITH DEFAULT KEY,

      BEGIN OF ty_predict_result,
        id TYPE int4,
        score TYPE int4,
        confidence TYPE f,
        reason_code_feature_1 TYPE shemi_reason_code_feature_name,
        reason_code_percentage_1 TYPE shemi_reason_code_feature_pct,
        reason_code_feature_2 TYPE shemi_reason_code_feature_name,
        reason_code_percentage_2 TYPE shemi_reason_code_feature_pct,
        reason_code_feature_3 TYPE shemi_reason_code_feature_name,
        reason_code_percentage_3 TYPE shemi_reason_code_feature_pct,
      END OF ty_predict_result,
      tt_predict_result TYPE STANDARD TABLE OF ty_predict_result WITH DEFAULT KEY.

    TYPES:
      BEGIN OF ty_metrics,
        key   TYPE string,
        value TYPE string,
      END OF ty_metrics,
      tt_metrics TYPE STANDARD TABLE OF ty_metrics WITH DEFAULT KEY,
      BEGIN OF ty_model,
        row_index     TYPE int4,
        part_index    TYPE int4,
        model_content TYPE string,
      END OF ty_model,
      tt_model TYPE STANDARD TABLE OF ty_model WITH DEFAULT KEY.

    CLASS-METHODS training
      AMDP OPTIONS READ-ONLY
      IMPORTING
        VALUE(it_data)                TYPE tt_training_data
        VALUE(it_param)               TYPE if_hemi_model_management=>tt_pal_param
      EXPORTING
        VALUE(et_model)               TYPE tt_model
        VALUE(et_confusion_matrix)    TYPE shemi_confusion_matrix_t
        VALUE(et_variable_importance) TYPE shemi_variable_importance_t
        VALUE(et_metrics)             TYPE tt_metrics
        VALUE(et_gen_info)            TYPE tt_metrics
      RAISING
        cx_amdp_execution_failed.

    CLASS-METHODS predict_with_model_version
      AMDP OPTIONS READ-ONLY
      IMPORTING
        VALUE(it_data)   TYPE tt_predict_data
        VALUE(it_model)  TYPE tt_model
        VALUE(it_param)  TYPE if_hemi_model_management=>tt_pal_param
      EXPORTING
        VALUE(et_result) TYPE tt_predict_result
      RAISING
        cx_amdp_execution_failed.

  PROTECTED SECTION.
  PRIVATE SECTION.
ENDCLASS.

CLASS DIABETES_AMDP IMPLEMENTATION.

  METHOD if_hemi_model_management~get_amdp_class_name.
    DATA lr_self TYPE REF TO DIABETES_AMDP.
    TRY.
        CREATE OBJECT lr_self.
        ev_name = cl_abap_classdescr=>get_class_name( lr_self ).
      CATCH cx_badi_context_error.
      CATCH cx_badi_not_implemented.
    ENDTRY.
  ENDMETHOD.

  METHOD if_hemi_procedure~get_procedure_parameters.
    et_training = VALUE #(
       ( name = 'IT_DATA'                role = cl_hemi_constants=>cs_proc_role-data                         )
       ( name = 'IT_PARAM'               role = cl_hemi_constants=>cs_proc_role-param                        )
       ( name = 'ET_MODEL'               role = cl_hemi_constants=>cs_proc_role-model                        )
       ( name = 'ET_VARIABLE_IMPORTANCE' role = cl_hemi_constants=>cs_proc_role-stats add_info = 'imp'       )
       ( name = 'ET_CONFUSION_MATRIX'    role = cl_hemi_constants=>cs_proc_role-stats add_info = 'confusion' )
       ( name = 'ET_METRICS'             role = cl_hemi_constants=>cs_proc_role-stats add_info = 'metrics'   )
       ( name = 'ET_GEN_INFO'            role = cl_hemi_constants=>cs_proc_role-stats add_info = 'gen'       )
    ).
    et_apply = VALUE #(
       ( name = 'IT_DATA'   role = cl_hemi_constants=>cs_proc_role-data                        )
       ( name = 'IT_MODEL'  role = cl_hemi_constants=>cs_proc_role-model add_info = 'et_model' )
       ( name = 'IT_PARAM'  role = cl_hemi_constants=>cs_proc_role-param                       )
       ( name = 'ET_RESULT' role = cl_hemi_constants=>cs_proc_role-result                      )
    ).
  ENDMETHOD.

  METHOD if_hemi_model_management~get_meta_data.
    es_meta_data-model_parameters = ( ( name = 'FUNCTION' type = cl_hemi_constants=>cs_param_type-string role = cl_hemi_constants=>cs_param_role-train configurable = abap_true has_context = abap_false )
( name = 'KEY' type = cl_hemi_constants=>cs_param_type-string role = cl_hemi_constants=>cs_param_role-train configurable = abap_true has_context = abap_false )
( name = 'PARTITION_METHOD' type = cl_hemi_constants=>cs_param_type-string role = cl_hemi_constants=>cs_param_role-train configurable = abap_true has_context = abap_false )
( name = 'PARTITION_STRATIFIED_VARIABLE' type = cl_hemi_constants=>cs_param_type-string role = cl_hemi_constants=>cs_param_role-train configurable = abap_true has_context = abap_false )
( name = 'N_ESTIMATORS' type = cl_hemi_constants=>cs_param_type-string role = cl_hemi_constants=>cs_param_role-train configurable = abap_true has_context = abap_false )
( name = 'SPLIT_THRESHOLD' type = cl_hemi_constants=>cs_param_type-string role = cl_hemi_constants=>cs_param_role-train configurable = abap_true has_context = abap_false )
( name = 'MAX_DEPTH' type = cl_hemi_constants=>cs_param_type-string role = cl_hemi_constants=>cs_param_role-train configurable = abap_true has_context = abap_false )
( name = 'CATEGORICAL_VARIABLE' type = cl_hemi_constants=>cs_param_type-string role = cl_hemi_constants=>cs_param_role-train configurable = abap_true has_context = abap_false )
name = 'FUNCTION' type = cl_hemi_constants=>cs_param_type-string role = cl_hemi_constants=>cs_param_role-apply configurable = abap_true has_context = abap_false ) ).
    es_meta_data-model_parameter_defaults = ( ( name = 'FUNCTION' value = 'RDT' )
( name = 'KEY' value = '1' )
( name = 'PARTITION_METHOD' value = '2' )
( name = 'PARTITION_STRATIFIED_VARIABLE' value = 'CLASS' )
( name = 'N_ESTIMATORS' value = '5' )
( name = 'SPLIT_THRESHOLD' value = '0.0' )
( name = 'MAX_DEPTH' value = '10' )
( name = 'CATEGORICAL_VARIABLE' value = 'CLASS' )
( name = 'FUNCTION' value = 'RDT' ) ).

    es_meta_data-training_data_set = 'DIABETES_TRAIN'.
    es_meta_data-apply_data_set    = 'DIABETES_TEST'.

    es_meta_data-field_descriptions = VALUE #( ( name = 'CLASS' role = cl_hemi_constants=>cs_field_role-target ) ).
  ENDMETHOD.

  METHOD training BY DATABASE PROCEDURE FOR HDB LANGUAGE SQLSCRIPT OPTIONS READ-ONLY.
    declare complete_statistics table (stat_name nvarchar(256), stat_value nvarchar(1000), class_name nvarchar(256));
    declare complete_metrics    table (metric_name nvarchar(256), x double, y double);
    declare validation_ki double;
    declare train_ki      double;

    /* Step 1. Input data preprocessing (missing values, rescaling, encoding, etc)
               Based on the scenario, add ids, select fields relevant for the training, cast to the appropriate data type, convert nulls into meaningful values.
               Note: decimal must be converted into double.*/

    call _sys_afl.pal_missing_value_handling(:it_data, :it_param, it_data, _);

    /* Step 2. Sampling for training and model quality debriefing;
               Imbalanced up/downsampling + Train/Test/Validation random or stratified partition sampling */

    call _sys_afl.pal_partition(:it_data, :it_param, part_id);

    lt_train = select lt.* from :it_data as lt, :part_id as part_id where lt.id = part_id.id and part_id.partition_type = 1;
    lt_test  = select lt.* from :it_data as lt, :part_id as part_id where lt.id = part_id.id and part_id.partition_type = 2;
    lt_val   = select lt.* from :it_data as lt, :part_id as part_id where lt.id = part_id.id and part_id.partition_type = 3;

    /* Step 3. Unified classification training */

    call _sys_afl.pal_unified_classification(:lt_train, :it_param, :et_model, :et_variable_importance, lt_stat, lt_opt, lt_cm, lt_metrics, lt_ph1, lt_ph2);

    /* Step 4. Unified classification scoring + debriefing additional metrics and gain charts */

    call _sys_afl.pal_unified_classification_score(:lt_train, :et_model, :it_param, result_train, stats_train, cm_train,  metrics_train);
    call _sys_afl.pal_unified_classification_score(:lt_test,  :et_model, :it_param, result_test,  stats_test,  cm_test,   metrics_test);
    call _sys_afl.pal_unified_classification_score(:lt_val,   :et_model, :it_param, result_val,   stats_val,   cm_val,    metrics_val);

    -- output confusion matrix is derived from the validation dataset
    et_confusion_matrix = select * from :cm_val;

    complete_statistics = select concat('VALIDATION_', stat_name) as stat_name, stat_value, class_name from :stats_val
                union all select concat('TEST_',       stat_name) as stat_name, stat_value, class_name from :stats_test
                union all select concat('TRAIN_',      stat_name) as stat_name, stat_value, class_name from :stats_train;

    complete_metrics = select concat('VALIDATION_', "NAME") as metric_name, x, y from :metrics_val
             union all select concat('TEST_',       "NAME") as metric_name, x, y from :metrics_test
             union all select concat('TRAIN_',      "NAME") as metric_name, x, y from :metrics_train;

    -- Calculate KI and KR and other key metrics
    select to_double(stat_value) * 2 - 1 into validation_ki from :complete_statistics where stat_name = 'VALIDATION_AUC';
    select to_double(stat_value) * 2 - 1 into train_ki      from :complete_statistics where stat_name = 'TRAIN_AUC';

    et_metrics = select 'PredictivePower'      as key, to_nvarchar(:validation_ki)                        as value from dummy
       union all select 'PredictionConfidence' as key, to_nvarchar(1.0 - abs(:validation_ki - :train_ki)) as value from dummy
    -- Provide metrics that are displayed in the quality information section of a model version in the ISLM Intelligent Scenario Management app
    /* <<<<<< TODO: Starting point of adaptation */
       union all select 'AUC'                  as key, stat_value                                         as value from :complete_statistics
                    where stat_name = 'VALIDATION_AUC';
    /* <<<<<< TODO: End point of adaptation */

    gain_chart = select gerneral.X,
                        (select min(y) from :complete_metrics as train_col      where metric_name = 'TRAIN_CUMGAINS'      and gerneral.x = train_col.x     ) as train,
                        (select min(y) from :complete_metrics as validation_col where metric_name = 'VALIDATION_CUMGAINS' and gerneral.x = validation_col.x) as validation,
                        (select min(y) from :complete_metrics as test_col       where metric_name = 'TEST_CUMGAINS'       and gerneral.x = test_col.x      ) as test,
                        (select min(y) from :complete_metrics as wizard_col     where metric_name = 'TRAIN_PERF_CUMGAINS' and gerneral.x = wizard_col.x    ) as wizard
                 from :complete_metrics as gerneral where gerneral.metric_name like_regexpr '(TRAIN|VALIDATION|TEST)_CUMGAINS' group by gerneral.x order by gerneral.x asc;

    gain_chart = select t1.x, t1.train, t1.validation, t1.test, coalesce(t1.wizard, t2.wizard) as wizard from :gain_chart as t1
        left outer join :gain_chart as t2 on t2.x = ( select max(t3.x) from :gain_chart as t3 where t3.x < t1.x and t3.wizard is not null);
    gain_chart = select t1.x, coalesce(t1.train, t2.train) as train, t1.validation, t1.test, t1.wizard from :gain_chart as t1
        left outer join :gain_chart as t2 on t2.x = ( select max(t3.x) from :gain_chart as t3 where t3.x < t1.x and t3.train is not null);
    gain_chart = select t1.x, t1.train, coalesce(t1.validation, t2.validation) as validation, t1.test, t1.wizard from :gain_chart as t1
        left outer join :gain_chart as t2 on t2.x = ( select max(t3.x) from :gain_chart as t3 where t3.x < t1.x and t3.validation is not null);
    gain_chart = select t1.x, t1.train, t1.validation, coalesce(t1.test, t2.test) as test, t1.wizard from :gain_chart as t1
        left outer join :gain_chart as t2 on t2.x = ( select max(t3.x) from :gain_chart as t3 where t3.x < t1.x and t3.TEST is not null) order by x;

    et_gen_info = select 'HEMI_Profitcurve' as key,
                         '{ "Type": "detected", "Frequency" : "' || x || '", "Random" : "' || x || '", "Wizard": "' || wizard || '", "Estimation": "' || train || '", "Validation": "' || validation || '", "Test": "' || test || '"}' as value
                         from :gain_chart
    -- Provide metrics that are displayed in the general additional info section of a model version in the ISLM Intelligent Scenario Management app
    /* <<<<<< TODO: Starting point of adaptation */
        union all select stat_name as key, stat_value as value from :complete_statistics where class_name is null;
    /* <<<<<< TODO: End point of adaptation */
  ENDMETHOD.

  METHOD predict_with_model_version BY DATABASE PROCEDURE FOR HDB LANGUAGE SQLSCRIPT OPTIONS READ-ONLY.

    /* Step 1. Input data preprocessing (missing values, rescaling, encoding, etc).
               Note: the input data preprocessing must correspond with the one in the training method.
               Based on the scenario, add ids, select fields relevant for the training, cast to the appropriate data type, convert nulls into meaningful values.
               Note: decimal must be converted into double. */
    lt_data = select
                id,
                pregnancies,
                glucose,
                skinthickness,
                insulin,
                bmi,
                age
              from :it_data;

    call _sys_afl.pal_missing_value_handling(:lt_data, :it_param, lt_data_predict, lt_placeholder1);

    /* Step 2. Execute prediction */

    call _sys_afl.pal_unified_classification_predict(:lt_data_predict, :it_model, :it_param, lt_result, lt_placeholder2);

    /* Step 3. Map prediction results back to the composite key */

    et_result = select cast(result.ID as "$ABAP.type( INT4 )") as ID,
                       cast(result.SCORE as "$ABAP.type( INT4 )") as SCORE,
                       cast(result.CONFIDENCE as "$ABAP.type( FLTP )") as CONFIDENCE,
                       trim(both '"' from json_query(result.reason_code, '$[0].attr')) as reason_code_feature_1,
                       json_query(result.reason_code, '$[0].pct' ) as reason_code_percentage_1,
                       trim(both '"' from json_query(result.reason_code, '$[1].attr')) as reason_code_feature_2,
                       json_query(result.reason_code, '$[1].pct' ) as reason_code_percentage_2,
                       trim(both '"' from json_query(result.reason_code, '$[2].attr')) as reason_code_feature_3,
                       json_query(result.reason_code, '$[2].pct' ) as reason_code_percentage_3
                from :lt_result as result;
  ENDMETHOD.

ENDCLASS.

In [41]:
rfc.write_amdp_file(version=1, outdir='out')