## End-to-End Scenario: Predict Segmentation of New Customers for a Supermarket

Author: TI HA DB ML China - SAP HANA PAL Team

Date: 2020/06/18

In this end-to-end scenario, We shown how to predict the segmentation/cluster of new customers for a supermarket. Firstly, we use the K-means function to cluster existing customers of the supermarket. Then, the output can be used as the training data for the C4.5 Decision Tree function to predict new customers’ segmentation/cluster.

### 1. Technology Background
K-means clustering is a method of cluster analysis whereby the algorithm partitions N observations or records into K clusters, in which each observation belongs to the cluster with the nearest center. It is one of the most commonly used algorithms in clustering method.

Decision trees are powerful and popular tools for classification and prediction. Decision tree learning, used in statistics, data mining, and machine learning uses a decision tree as a predictive model which maps the observations about an item to the conclusions about the item’s target value.

### 2. Implementation Steps

**Setup the Connection to SAP HANA**

First, create a connetion to SAP HANA. To create a such connection, a config file, config/e2edata.ini is used to control the connection parameters.A sample section in the config file is shown below which includes HANA url, port, user and password information.<br>

###################<br>
[hana]<br>
url=host-url<br>
user=username<br>
passwd=userpassword<br>
port=3xx15<br>
###################<br>

In [1]:
from hana_ml.dataframe import ConnectionContext
from data_load_utils import DataSets, Settings
url, port, user, pwd = Settings.load_config("../../../config/e2edata.ini")
connection_context = ConnectionContext(url, port, user, pwd)

Connection status:

In [2]:
print(connection_context.connection.isconnected())

True

**Step 1: Invoke K-means**

Input customer data and use the K-means function to partition the data set into K clusters. In this example, nine rows of data will be input. K equals 3, which means the customers will be partitioned into three levels.

Generate the customer dataset with ID, AGE, INCOME:

In [3]:
import pandas as pd
from hana_ml.dataframe import create_dataframe_from_pandas

data = {'ID':  [1,2,3,4,5,6,7,8,9],
        'AGE': [20, 21, 22, 30, 31, 32, 40, 41, 42],
        'INCOME': [100000, 101000, 102000, 200000, 201000, 202000, 400000, 401000, 402000]}
customer = pd.DataFrame (data, columns = ['ID','AGE','INCOME'])
customer_df = create_dataframe_from_pandas(connection_context, pandas_df=customer, 
                                        table_name='CUSTOMER_TBL', force=True, replace=True)
customer_df.collect()

   ID  AGE  INCOME
0   1   20  100000
1   2   21  101000
2   3   22  102000
3   4   30  200000
4   5   31  201000
5   6   32  202000
6   7   40  400000
7   8   41  401000
8   9   42  402000

Call KMeans to cluster the customers:

In [4]:
from hana_ml.algorithms.pal.clustering import KMeans
kmeans = KMeans(n_clusters=3, init='first_k', max_iter=100,
                tol=1.0E-6, distance_level='Euclidean',
                normalization='no')

kmeans.fit(customer_df, 'ID', ['AGE', 'INCOME'])
print(kmeans.labels_.collect())

   ID  CLUSTER_ID   DISTANCE  SLIGHT_SILHOUETTE
0   1           0  1000.0005           0.990099
1   2           0     0.0000           1.000000
2   3           0  1000.0005           0.989899
3   4           1  1000.0005           0.989899
4   5           1     0.0000           1.000000
5   6           1  1000.0005           0.990099
6   7           2  1000.0005           0.994975
7   8           2     0.0000           1.000000
8   9           2  1000.0005           0.995025

Join the customer_df with the result column of kmeans.labels_ for next step:

In [5]:
result = kmeans.labels_.select("ID", "CLUSTER_ID").rename_columns(["ID_R", "CLUSTER_ID"])    
    
data_cluster = customer_df.join(result, condition="ID = ID_R")

# select the necessary columns for modeling in the next step
data_cluster = data_cluster.select(['AGE', 'INCOME', 'CLUSTER_ID'])

# rename the  column 'CLUSTER_ID' to be 'LEVEL'
data_cluster = data_cluster.rename_columns(['AGE', 'INCOME', 'LEVEL'])
print(data_cluster.collect())

   AGE  INCOME  LEVEL
0   20  100000      0
1   21  101000      0
2   22  102000      0
3   30  200000      1
4   31  201000      1
5   32  202000      1
6   40  400000      2
7   41  401000      2
8   42  402000      2

**Step 2: Invoke C4.5 Decision Tree**


Use the above output data.cluster as the training data of C4.5 Decision Tree. The C4.5 Decision Tree function will generate a tree model which maps the observations about an item to the conclusions about the item’s target value.

In [6]:
from hana_ml.algorithms.pal.trees import DecisionTreeClassifier
# convert data type of column LEVEL to be VARCHAR(10)
data_cluster = data_cluster.cast('LEVEL', 'VARCHAR (10)')

dt = DecisionTreeClassifier(algorithm = 'c45',
                            percentage = 1.0,
                            model_format = 'pmml')
dt.fit(data_cluster)

# have a look at the result decision.rules
print(dt.decision_rules_.collect())

   ROW_INDEX     RULES_CONTENT
0          0     (AGE<26) => 0
1          1  26=<AGE<36) => 1
2          2    (AGE>=36) => 2

**Step 3 : Prediction with Tree Model**

Use the above tree model to map each new customer to the corresponding level he or she belongs to:

In [7]:
data = {'ID':  [10, 11, 12],
        'AGE': [20, 30, 40],
        'INCOME': [100003, 200003, 400003]}
new_data = pd.DataFrame (data, columns = ['ID','AGE','INCOME'])
new_data_df = create_dataframe_from_pandas(connection_context, 
                                           pandas_df=new_data, 
                                           table_name='NEW_CUSTOMER_TBL', 
                                           force=True, replace=True)

result = dt.predict(new_data_df, key="ID")
print(result.collect())

   ID SCORE  CONFIDENCE
0  10     0         1.0
1  11     1         1.0
2  12     2         1.0

## Drop Tables and Close HANA Connection

In [8]:
cursor = connection_context.connection.cursor()
cursor.execute("DROP TABLE CUSTOMER_TBL")
cursor.execute("DROP TABLE NEW_CUSTOMER_TBL")
connection_context.close()