# Python HANA ML APL

<div class="alert alert-block alert-info">
<b>Reports on ozone rate time series model.</b> <br>
</div>

### Create an HANA Dataframe for the actual series

In [1]:
from hana_ml import dataframe as hd
conn = hd.ConnectionContext(userkey='MLMDA_KEY')
sql_cmd = 'SELECT * FROM "APL_SAMPLES"."OZONE_RATE_LA" ORDER BY "Date"'
series_in = hd.DataFrame(conn, sql_cmd)

In [2]:
series_in.head(5).collect()

         Date OzoneRateLA
0  1955-01-28        2.63
1  1955-02-28        1.94
2  1955-03-28        3.38
3  1955-04-28        4.92
4  1955-05-28        6.29

### Fit with APL

#### Modeling

In [3]:
from hana_ml.algorithms.apl.time_series import AutoTimeSeries
apl_model = AutoTimeSeries(time_column_name= 'Date', target= 'OzoneRateLA', horizon= 12)
apl_model.set_params(
    other_params = {'force_positive_forecast': True},
    other_train_apl_aliases = {'APL/DecomposeInfluencers':'true'})
apl_model.fit(data = series_in)

 #### Reports

In [4]:
df = apl_model.get_debrief_report('TimeSeries_ModelOverview').collect()
df = df[['Target Variable','First Date','Last Date','Horizon','Granularity']]
df.style.hide_index()

In [5]:
my_filter = "\"Partition\"='Validation'"
df = apl_model.get_debrief_report('TimeSeries_Performance').filter(my_filter).collect()
df = df[['Partition','MAE','MAPE','RMSE']]
format_dict = {'MAE':'{:,.3f}','MAPE':'{:,.1f}%','RMSE':'{:,.3f}'}
df.style.format(format_dict).hide_index()

In [6]:
df = apl_model.get_debrief_report('TimeSeries_Components').collect()
df = df[['Component Type','Component Value']]
df.style.hide_index()

In [7]:
df = apl_model.get_debrief_report('TimeSeries_Decomposition').collect()
df = df[['Row','Type','Item','Relative Impact']]
df = df.sort_values(by=['Row'])
format_dict = {'Relative Impact':'{:,.3f}'}
df.style.format(format_dict).hide_index()

In [8]:
df = apl_model.get_debrief_report('TimeSeries_Outliers').collect()
df = df[['Partition','Date','Signal','Forecast']]
df.style.hide_index()

### Predict with APL

In [9]:
series_out = apl_model.predict(data = series_in)
df_out = series_out.collect()

In [10]:
dict = {'ACTUAL': 'Actual', 
        'PREDICTED': 'Forecast', 
        'LOWER_INT_95PCT': 'Lower Limit', 
        'UPPER_INT_95PCT': 'Upper Limit' }
df_out.rename(columns=dict, inplace=True)
df_out.tail(12).style.hide_index()